@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Network">Network</label>
        @Html.DropDownList("Id", ViewBag.NetworkId as SelectList, "--select network--", new
    {
        id = "ddlNetworks",
        @class = "form-control form-control-sm"
    })
    </div>
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Generate</button>
    </div>
}