@model codes_netCore.Models.Color
@using (Html.BeginForm("Create", "Colors", FormMethod.Post, new { id = "form_color" }))
{
    <h4>Color</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Hex" class="control-label"></label>
                <input asp-for="Hex" class="form-control" />
                <a href="https://www.color-hex.com/">site with color's hex</a>
            </div>
            <div class="form-group">
                <button onclick="CreateNew('/Colors/Create/','#form_color')" class="btn btn-success" type="button">Create</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}