<label class="control-label col-md-2">Country </label>
<div class="col-sm-10">
    @Html.DropDownList("Id", ViewBag.CountryId as SelectList, "--select country--", new {
    id = "ddlCountries",
    @class = "form-control form-control-sm",
    onchange = "ddlCountries_changed(this.value);"
})
</div>
