@using (Html.BeginForm("RegExp", "Countries", FormMethod.Post))
{
    <h4>RegExp generator</h4>
    <hr />
    <div class="form-group">
        <div id="NetworkDD" class="form-group"></div>
    </div>
}